<a href="https://colab.research.google.com/github/yoonputer/test_visuallization/blob/master/autompg_linearregression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 로딩

In [1]:
import pandas as pd
df = pd.read_csv('./auto-mpg.csv', header=None)
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [2]:
df[['horsepower','name']].describe(include='all')

       horsepower        name
count         398         398
unique         94         305
top         150.0  ford pinto
freq           22           6

##replace

In [3]:
df['horsepower'].value_counts()

150.0    22
90.00    20
88.00    19
110.0    18
100.0    17
         ..
82.00     1
77.00     1
132.0     1
193.0     1
107.0     1
Name: horsepower, Length: 94, dtype: int64

In [4]:
#df['horsepower'].astype('float')

In [5]:
df['horsepower'].unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '?', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [6]:
df_horsepower = df['horsepower'].replace(to_replace='?',value=None,inplace=False)
df_horsepower.unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [7]:
#type(df['horsepower'])

In [8]:
df_horsepower = df_horsepower.astype('float')

In [9]:
df_horsepower.mean()

104.178391959799

In [ ]:
df['horsepower'] = df_horsepower.fillna(104)
df.info()

In [ ]:
df['name'].unique()

In [12]:
df.head()

    mpg  cylinders  displacement  ...  model year  origin                       name
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70       1          buick skylark 320
2  18.0          8         318.0  ...          70       1         plymouth satellite
3  16.0          8         304.0  ...          70       1              amc rebel sst
4  17.0          8         302.0  ...          70       1                ford torino

[5 rows x 9 columns]

## 분류와 연속 컬럼 구분

In [13]:
df.head(8)

    mpg  cylinders  displacement  ...  model year  origin                       name
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70       1          buick skylark 320
2  18.0          8         318.0  ...          70       1         plymouth satellite
3  16.0          8         304.0  ...          70       1              amc rebel sst
4  17.0          8         302.0  ...          70       1                ford torino
5  15.0          8         429.0  ...          70       1           ford galaxie 500
6  14.0          8         454.0  ...          70       1           chevrolet impala
7  14.0          8         440.0  ...          70       1          plymouth fury iii

[8 rows x 9 columns]

### check columns
- 연속형 : displacement, horsepower, weight, acceleration, mpg
- 분류형 : model year , name, cylinders, origin
- 중립형 : ~~mpg~~, ~~cylinders~~, ~~origin~~

In [ ]:
df['mpg'].describe(include='all')

In [ ]:
df['mpg'].value_counts()

In [ ]:
df['cylinders'].value_counts()

In [ ]:
df['origin'].value_counts()

In [19]:
df['name'].value_counts()

ford pinto                    6
ford maverick                 5
toyota corolla                5
amc matador                   5
amc gremlin                   4
                             ..
volkswagen scirocco           1
toyota carina                 1
chevroelt chevelle malibu     1
mercury monarch ghia          1
plymouth satellite sebring    1
Name: name, Length: 305, dtype: int64

## 정규화 단계

In [26]:
Y = df['mpg']
X_continus = df[['displacement', 'horsepower', 'weight', 'acceleration']]
X_category = df[['model year','cylinders','origin']]

In [27]:
from sklearn import preprocessing

In [28]:
scaler = preprocessing.StandardScaler()
type(scaler)

sklearn.preprocessing._data.StandardScaler

In [29]:
scaler.fit(X_continus)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [30]:
X = scaler.transform(X_continus)

In [31]:
from sklearn.linear_model import LinearRegression

In [33]:
lr = LinearRegression()
type(lr)

sklearn.linear_model._base.LinearRegression

In [34]:
lr.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [35]:
lr.score(X,Y)

0.7061364273740109